[data-testid=metric-container] {
    box-shadow: 0 0 4px #686664;
    padding: 10px;
}

.plot-container>div {
    box-shadow: 0 0 2px #070505;
    padding: 5px;
    border-color: #000000;
    
   
}

div[data-testid="stExpander"] div[role="button"] p
{
    font-size: 1.2rem;
    color:rgb(0, 0, 0);
    border-color: #000000;
    color-scheme: #000000;
}

.sidebar-content {
    color: white;
}

[data-testid=stSidebar] {
    color: white;
     
}

[data-testid="stSidebar"] {
    background-image: linear-gradient(#2e7bcf, #2ca58d);
    color: black;
}
.header-text {
    text-align: center;
    color: #ffffff;
    background-color: #2e7bcf;
    padding: 13px; 
    border-radius: 15px;
    margin-bottom: 10px; 
    border: 2px solid black;
    font-size: 16px;
}

[data-testid="stMetricValue"] {
    font-size: 16px;
}

[data-testid="stMetricLabel"] {
    font-size: 12px;
}

.sidebar-content {
    color: white;
}